.jumbotron{
	color: #8A1E64;
	margin-top:10%;
}

body.jumbotron {}

body.jumbotron {}
h1{
	text-align:center;
}

h2{
	text-align:center;
}

h6{
	color: #596ED6;
}	

.card-server{
	background-color: #64A52F;
	color: #262AE7;
	text-align:center;
	margin-left:1%;
	margin-right:1%;
	padding: 2%;
}


.boton{
	background-color: #6F4AC1;
	color: white;
}
.pie-pagina{
	background-color: #CEAD2D;
}
p{
	margin-left:10%;
	color: white;
}
.mensaje{
	color: blue;
	font-size: 20px;
}
.company{
	text-align: center;
	font-size: 25px;
	margin-right: -500%;
}

.base{
	margin-top: 125%;
	background-color: blue;
}
